/* NOTE: Tailwind Hex package currently does not seem to support the following
 * out of the box without NodeJS:
 *
 * - @import statements
 * - CSS nesting
 *
 * So, they have been removed.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply relative font-sans antialiased bg-gray-200;
}

header {
  @apply mb-8;
}

.container {
  @apply max-w-6xl px-6 mx-auto;
}

h1 {
  @apply mb-8 text-4xl font-extrabold text-center text-gray-900;
}

ul.examples {
  @apply max-w-xs mx-auto mt-8 text-2xl list-disc;
}

ul.examples li {
  @apply mt-3;
}

ul.examples li a {
  @apply underline;
}

.icon {
  fill: currentColor;
}

/* Light */

#light {
  @apply max-w-xl;
  @apply mx-auto;
  @apply text-center;
}

#light button {
  @apply bg-transparent;
  @apply border-2;
  @apply border-gray-400;
  @apply duration-150;
  @apply ease-in-out;
  @apply mx-1;
  @apply outline-none;
  @apply px-4 py-2;
  @apply rounded-lg;
  @apply shadow-sm;
  @apply transition;
}

#light button {
  @apply bg-gray-300;
}

#light img {
  @apply w-10;
}

#light .light-me-up {
  @apply py-5;
}

#light .light-me-up > button {
  @apply font-bold;
}

#light .meter {
  @apply bg-gray-300;
  @apply flex;
  @apply h-12;
  @apply mb-8;
  @apply overflow-hidden;
  @apply rounded-lg;
  @apply text-base;
}

#light .meter > span {
  @apply bg-yellow-300;
  @apply flex flex-col;
  @apply font-bold;
  @apply justify-center;
  @apply text-center;
  @apply text-gray-900;
  @apply whitespace-nowrap;

  transition: width 2s ease;
}


/* License */

#license {
  @apply max-w-lg mx-auto text-center;
}

#license .card {
  @apply bg-white shadow rounded-lg shadow-lg;
}

#license .card .content {
  @apply p-6;
}

#license .seats {
  @apply inline-flex items-center mb-8;
}

#license .seats img {
  @apply w-10 pr-2;
}

#license .seats span {
  @apply text-xl font-normal text-gray-700;
}

#license .seats span strong {
  @apply font-bold;
}

#license .amount {
  @apply text-4xl leading-none font-extrabold text-gray-900 mt-4;
}

/* Dashboard */

#dashboard {
  @apply max-w-2xl mx-auto;
}

#dashboard .stats {
  @apply mb-8 rounded-lg bg-white shadow-lg grid grid-cols-3;
}

#dashboard .stats .stat {
  @apply p-6 text-center;
}

#dashboard .stats .stat .name {
  @apply block mt-2 text-lg leading-6 font-medium text-gray-500;
}

#dashboard .stats .stat .value {
  @apply block text-5xl leading-none font-extrabold text-indigo-600;
}

#dashboard button {
    @apply inline-flex items-center px-4 py-2 border border-indigo-300 text-sm shadow-sm leading-6 font-medium rounded-md text-indigo-700 bg-indigo-100 transition ease-in-out duration-150 outline-none;
}

#dashboard button img {
  @apply mr-2 h-4 w-4;
}

#dashboard button:active {
  @apply bg-indigo-200;
}

#dashboard button:hover {
  @apply bg-white;
}

#dashboard .controls {
  @apply flex items-center justify-end;
}

#dashboard .controls form {
  @apply flex items-center;
}

#dashboard .controls form label {
  @apply uppercase tracking-wide text-indigo-800 text-xs font-semibold mr-2;
}

#dashboard .controls form select {
  @apply appearance-none bg-gray-200 border-indigo-300 border text-indigo-700 py-2 pr-8 rounded-lg leading-tight font-semibold cursor-pointer mr-2 h-10;
}

#dashboard .controls form select:focus {
  @apply outline-none bg-white border-indigo-500;
}

#dashboard .last-updated {
  @apply flex justify-end uppercase tracking-wide text-indigo-800 text-xs font-semibold mr-2 my-2;
}

/* Phoenix specific classes for generated files. */

.phx-hero {
  @apply text-center bg-gray-200 rounded-md py-8 px-4 mt-0 mb-4;
}

.phx-hero h1 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.phx-hero p {
  font-weight: 300;
  font-size: 125%;
  margin-bottom: 2rem;
}

.phx-hero button {
  @apply block mx-auto text-white bg-blue-600 mt-4 py-2 px-8 uppercase text-sm font-bold rounded transition ease-in-out duration-150;
}

.phx-hero input[type="text"] {
  @apply h-10 border border-gray-300 rounded-md bg-white w-1/3 px-4 text-sm;
}

.phx-hero input[type="text"]:focus {
  @apply outline-none;
}

.row {
  @apply flex flex-row justify-around;
}

.row .column {
  @apply block flex-auto pt-4 px-16 m-0 ml-0 max-w-xs;
}

.row h2 {
  @apply text-2xl font-semibold mb-4 font-normal;
}

.row .column ul {
  @apply mx-auto max-w-xs list-disc;
}

.row .column ul li {
  @apply mt-3;
}

.row .column ul li a {
  @apply underline;
}

/* LiveView specific classes for your customizations */

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}

.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

/*
 * Range Input
 *
 * Generated by:
 * http://danielstern.ca/range.css
 *
 */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #7f9cf5;
  border-radius: 0px;
  border: 0px solid #7f9cf5;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #4c51bf;
  height: 36px;
  width: 17px;
  border-radius: 35px;
  background: #4c51bf;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #97aef7;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #7f9cf5;
  border-radius: 0px;
  border: 0px solid #7f9cf5;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #4c51bf;
  height: 36px;
  width: 17px;
  border-radius: 35px;
  background: #4c51bf;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #678af3;
  border: 0px solid #7f9cf5;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #7f9cf5;
  border: 0px solid #7f9cf5;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #4c51bf;
  height: 36px;
  width: 17px;
  border-radius: 35px;
  background: #4c51bf;
  cursor: pointer;
  height: 8.4px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #7f9cf5;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #97aef7;
}
